<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html">KayBee*?</a>
    </li>
    <li class="nav-item">
    <a target="_blank" class="nav-link" href="https://life.kbvishnu.com">Life Blog        
        <i class="fa  fa-street-view text-danger" ></i></a>  
    </li>
    <li class="nav-item">
    <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/kbvishnu">LinkedIn</a>
    </li>
    <!-- <li class="nav-item">
    <a target="_blank" class="nav-link" href="https://www.instagram.com/kbvishnu/">Clicks</a>
    </li> -->
    <li class="nav-item">
    <a target="_blank" class="nav-link" href="https://www.sparsham.org/#participate">Support the society 
        <i class="fa fa-hand-holding-heart text-danger"></i></a>
    </li>
    